.facArea .facListImg .facItem,.menuArea .facListTxt .Txt,.menuArea .menuListBoxMain .menuList .Txt .title a:before,.menuArea .menuListBoxMain .menuList .Txt .title a span,.menuArea .menuListBoxNav .menuList .menuItem,.menuArea .menuListBoxNav .menuList .menuItem .title,.menuArea .menuListBoxNav .menuList .slick-arrow,.newsArea .newsList .newsItem .Txt .textBox .link:before,.storeArea .storeListBoxMain .storeList .Txt,.storeArea .storeListBoxMain:before,.storeArea .storeListBoxNav .storeList .Img:before {
    transition: all 0.5s
}


.storeArea {
    position: relative;
    z-index: 1
}

.storeArea:before {
    content: "";
    width: 100%;
    height: 2015px;
    background: url("../images/store_area_bg.png") no-repeat center top/cover;
    position: absolute;
    top: -380px;
    left: 0;
    z-index: 1
}

@media (max-width: 1200px) {
    .storeArea:before {
        top:-280px
    }
}

@media (max-width: 640px) {
    .storeArea:before {
        height:1850px;
        background: url("../images/store_area_bg.png") no-repeat right top/cover
    }
}

.storeArea .storeStars .stars {
    width: 510px;
    position: absolute;
    top: -615px;
    left: 0;
    z-index: 2
}

.storeArea .storeStars .stars.show {
    -webkit-animation: stars 0.8s cubic-bezier(0.05,0.56,0.52,0.82) forwards;
    animation: stars 0.8s cubic-bezier(0.05,0.56,0.52,0.82) forwards
}

@media (max-width: 1680px) {
    .storeArea .storeStars .stars {
        width:300px;
        top: -460px;
        left: 40px
    }
}

@media (max-width: 1440px) {
    .storeArea .storeStars .stars {
        display:none
    }
}

@media (max-width: 1200px) {
    .storeArea .wrap {
        overflow:hidden
    }
}

.storeArea .titleBox {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    margin-bottom: 50px
}

.storeArea .titleBox .left,.storeArea .titleBox .right {
    opacity: 0;
    position: relative;
    transition: opacity 0.6s 0.1s cubic-bezier(0.4,0,0.2,1),-webkit-transform 0.6s cubic-bezier(0.4,0,0.2,1);
    transition: transform 0.6s cubic-bezier(0.4,0,0.2,1),opacity 0.6s 0.1s cubic-bezier(0.4,0,0.2,1);
    transition: transform 0.6s cubic-bezier(0.4,0,0.2,1),opacity 0.6s 0.1s cubic-bezier(0.4,0,0.2,1),-webkit-transform 0.6s cubic-bezier(0.4,0,0.2,1)
}

.storeArea .titleBox .left:after,.storeArea .titleBox .left:before,.storeArea .titleBox .right:after,.storeArea .titleBox .right:before {
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: all 0.5s 0.75s cubic-bezier(0.4,0,0.2,1)
}

.storeArea .titleBox .left {
    left: 2%;
    z-index: 2;
    -webkit-transform: scale(0.15) translateX(150px);
    transform: scale(0.15) translateX(150px);
    -webkit-transform-origin: center right;
    transform-origin: center right
}

.storeArea .titleBox .left:before {
    width: 21.875%;
    height: 41.8%;
    background: url("../images/store_title_left_deco.png") no-repeat center/contain;
    bottom: -28%;
    left: 15.6%;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.storeArea .titleBox .right {
    margin-top: 4%;
    left: -2%;
    z-index: 1;
    -webkit-transform: scale(0.15) translateX(-150px);
    transform: scale(0.15) translateX(-150px);
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.storeArea .titleBox .right:before {
    width: 24.9%;
    height: 77%;
    background: url("../images/store_title_right_deco_season.png") no-repeat center/contain;
    top: -37%;
    right: 40.4%;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.storeArea .titleBox .right:after {
    width: 30%;
    height: 47.325%;
    background: url("../images/store_title_right_deco_sauce.png") no-repeat center/contain;
    top: -6.2%;
    right: 5.9%;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

.storeArea .titleBox.revealed .left,.storeArea .titleBox.revealed .right {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0)
}

.storeArea .titleBox.revealed .left:after,.storeArea .titleBox.revealed .left:before,.storeArea .titleBox.revealed .right:after,.storeArea .titleBox.revealed .right:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (max-width: 1440px) {
    .storeArea .titleBox {
        margin-bottom:100px
    }

    .storeArea .titleBox .left {
        left: 10%
    }

    .storeArea .titleBox .right {
        margin-top: 9%;
        left: -10%
    }

    .storeArea .titleBox .right:before {
        top: -50%;
        right: 5%
    }

    .storeArea .titleBox .right:after {
        top: 80%;
        right: 23%
    }
}

@media (max-width: 1024px) {
    .storeArea .titleBox.imgTitle {
        -ms-flex-direction:column;
        flex-direction: column
    }

    .storeArea .titleBox .left,.storeArea .titleBox .right {
        width: 70%
    }

    .storeArea .titleBox .left {
        left: 0
    }

    .storeArea .titleBox .left:before {
        bottom: 0;
        left: 0
    }

    .storeArea .titleBox .right {
        margin-top: -9%;
        -ms-flex-item-align: end;
        align-self: flex-end;
        left: 0
    }
}

@media (max-width: 768px) {
    .storeArea .titleBox .left,.storeArea .titleBox .right {
        width:75%
    }
}

@media (max-width: 640px) {
    .storeArea .titleBox {
        margin-bottom:80px
    }
}

@media (max-width: 480px) {
    .storeArea .titleBox {
        width:88%;
        margin-bottom: 45px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px)
    }
}

@media (max-width: 1200px) {
    .storeArea .classBoxRow {
        margin:0
    }
}

.storeArea .storeBox {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
}

.storeArea .storeBox.revealed {
    transition: all 0.5s ease-in-out!important
}

.storeArea .storeBox.hide {
    opacity: 0!important;
    pointer-events: none!important;
    -webkit-transform: translateY(-20px)!important;
    transform: translateY(-20px)!important
}

@media (max-width: 1200px) {
    .storeArea .storeBox {
        -ms-flex-align:center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.storeArea .storeListBoxMain {
    width: 44%;
    max-width: 550px;
    position: relative;
    z-index: 2;
    -webkit-transform: translate(50px,60px);
    transform: translate(50px,60px);
    padding-left: 110px;
}

.storeArea .storeListBoxMain:before {
    content: "";
    width: 300px;
    height: 445px;
    background: url("../images/store_list_roadsign.png") no-repeat center/contain;
    position: absolute;
    bottom: 45px;
    left: -250px;
    z-index: 3;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

@media (min-width: 1201px) {
    .storeArea .storeListBoxMain:hover:before {
        -webkit-transform:rotate(-3deg);
        transform: rotate(-3deg)
    }
}

@media (max-width: 1440px) {
    .storeArea .storeListBoxMain:before {
        width:220px;
        height: 333px;
        bottom: 30px;
        left: -120px
    }
}

@media (max-width: 1200px) {
    .storeArea .storeListBoxMain {
        -webkit-transform:translate(50px,0);
        transform: translate(50px,0);
        margin-top: 60px
    }

    .storeArea .storeListBoxMain:before {
        left: -160px
    }
}

@media (max-width: 1024px) {
    .storeArea .storeListBoxMain {
        width:40%
    }
}

@media (max-width: 768px) {
    .storeArea .storeListBoxMain {
        width:75%
    }
}

@media (max-width: 640px) {
    .storeArea .storeListBoxMain:before {
        width:140px;
        height: 211px;
        bottom: 30px;
        left: -120px;
        z-index: 1
    }
}

@media (max-width: 480px) {
    .storeArea .storeListBoxMain {
        width:100%;
        margin-top: 20px;
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    .storeArea .storeListBoxMain:before {
        display: none
    }
}

.storeArea .storeListBoxMain .storeList {
    position: relative;
    z-index: 1
}

.storeArea .storeListBoxMain .storeList .slick-list {
    position: relative;
    z-index: 2
}

@media (max-width: 640px) {
    .storeArea .storeListBoxMain .storeList .slick-list {
        padding-bottom:40px
    }
}

@media (max-width: 480px) {
    .storeArea .storeListBoxMain .storeList .slick-list {
        padding-bottom:20px
    }
}

.storeArea .storeListBoxMain .storeList .storeItem {
    opacity: 0;
    position: relative;
    z-index: 2
}



/* .storeArea .storeListBoxMain .storeList .Txt {
    height: 100%;
    max-height: 290px;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 35px;
    right: 40px;
    z-index: 1;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
} */

.storeArea .storeListBoxMain .storeList .Txt .title {
    background: url("../images/store_list_title_center_bg.png") no-repeat center/100% 200%;
    position: relative
}

.storeArea .storeListBoxMain .storeList .Txt .title:before {
    content: "";
    width: 100%;
    height: 20px;
    background: url("../images/store_list_title_top_bg.png") no-repeat center/100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.storeArea .storeListBoxMain .storeList .Txt .title:after {
    content: "";
    width: 100%;
    height: 20px;
    background: url("../images/store_list_title_bottom_bg.png") no-repeat center/100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1
}

.storeArea .storeListBoxMain .storeList .Txt .title a {
    color: #fa822b;
    font-size: 26px;
    font-weight: 900;
    line-height: 87px;
    letter-spacing: 1.5px;
    padding: 20px 0;
}

@media (max-width: 1200px) {
    .storeArea .storeListBoxMain .storeList .Txt {
        bottom:0;
        right: 20px
    }
}

@media (max-width: 640px) {
    .storeArea .storeListBoxMain .storeList .Txt {
        display:none
    }
}

.storeArea .storeListBoxMain .storeList .Img img {
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .storeArea .storeListBoxMain .storeList .Img {
        width:80%;
        margin: 0 auto
    }
}

.storeArea .storeListBoxMain .storeSplash {
    width: 113%;
    opacity: 0;
    position: absolute;
    bottom: -14.6%;
    left: -32.7%;
    z-index: -1;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    transition: all 0.75s 0.3s ease-in-out
}

.storeArea .storeListBoxMain .storeSplash img {
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.storeArea .storeListBoxMain .storeSplash.revealed {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.storeArea .storeListBoxMain .storeJpCloud {
    opacity: 0;
    position: absolute;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: all 0.75s 1s ease-in-out
}

.storeArea .storeListBoxMain .storeJpCloud.left {
    width: 48.27%;
    bottom: -30px;
    left: -170px;
    z-index: 2
}

.storeArea .storeListBoxMain .storeJpCloud.right {
    width: 31%;
    bottom: 16.25%;
    right: -5%;
    z-index: -1
}

.storeArea .storeListBoxMain .storeJpCloud.revealed {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (max-width: 640px) {
    .storeArea .storeListBoxMain .storeJpCloud.left {
        width:37.7%;
        bottom: -10.2%;
        left: -30%;
        z-index: -1
    }

    .storeArea .storeListBoxMain .storeJpCloud.right {
        width: 20%;
        bottom: 20.5%;
        right: 8%
    }
}

@media (max-width: 480px) {
    .storeArea .storeListBoxMain .storeJpCloud.left {
        bottom:-2%;
        left: -5%
    }

    .storeArea .storeListBoxMain .storeJpCloud.right {
        bottom: 5%;
        right: 28%
    }
}

@media (max-width: 374px) {
    .storeArea .storeListBoxMain .storeJpCloud.right {
        display:none
    }
}

.storeArea .storeListBoxNav {
    width: 35%;
    max-width: 710px;
    height: 850px;
    padding: 110px 95px 110px 110px;
    position: relative;
    z-index: 1
}

.storeArea .storeListBoxNav:before {
    content: "";
    background: url("../images/store_list_frame.png") no-repeat center top/contain;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.storeArea .storeListBoxNav:after {
    content: "";
    width: 25%;
    height: 35%;
    background: url("../images/store_list_flags.png") no-repeat center/contain;
    position: absolute;
    top: -7%;
    right: -13.8%;
    z-index: 1
}

@media (max-width: 1680px) {
    .storeArea .storeListBoxNav {
        padding:100px 90px 120px
    }
}

@media (max-width: 1440px) {
    .storeArea .storeListBoxNav:after {
        top:-15.3%;
        right: -3.6%
    }
}

@media (max-width: 1280px) {
    .storeArea .storeListBoxNav {
        padding:90px 90px 120px
    }
}

@media (max-width: 1200px) {
    .storeArea .storeListBoxNav {
        width:100%;
        height: auto;
        padding: 105px 0 0;
        z-index: 2
    }

    .storeArea .storeListBoxNav:after,.storeArea .storeListBoxNav:before {
        display: none
    }
}

@media (max-width: 1024px) {
    .storeArea .storeListBoxNav {
        padding:60px 0
    }
}

@media (max-width: 640px) {
    .storeArea .storeListBoxNav {
        padding:0 0 90px
    }
}

@media (max-width: 480px) {
    .storeArea .storeListBoxNav {
        padding:0 0 60px
    }
}

@media (max-width: 375px) {
    .storeArea .storeListBoxNav {
        padding:0 0 40px
    }
}

.storeArea .storeListBoxNav .storeList {
    overflow: hidden
}

.storeArea .storeListBoxNav .storeList.slick-dotted {
    margin-bottom: 0
}

.storeArea .storeListBoxNav .storeList .slick-list {
    position: relative;
    z-index: 3
}

.storeArea .storeListBoxNav .storeList .slick-dots {
    position: relative;
    margin-top: 30px;
    bottom: 0
}

.storeArea .storeListBoxNav .storeList .slick-dots li {
    width: 18px;
    height: 18px;
    margin: 0 8px
}

.storeArea .storeListBoxNav .storeList .slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0
}

.storeArea .storeListBoxNav .storeList .slick-dots li button:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/star_black.png") no-repeat center/contain;
    border-radius: 50%;
    background-color: transparent;
    opacity: 1
}

.storeArea .storeListBoxNav .storeList .slick-dots li.slick-active button:before {
    background: url("../images/star_gold.png") no-repeat center/contain;
    opacity: 1
}

.storeArea .storeListBoxNav .storeList .storeItem {
    cursor: pointer;
    margin-bottom: 25px
}

.storeArea .storeListBoxNav .storeList .storeItem.slick-current+.slick-active .Img:before,.storeArea .storeListBoxNav .storeList .storeItem.slick-current .Img:before {
    height: 100px;
    opacity: 1;
    height:10px;
}

@media (max-width: 1200px) {
    .storeArea .storeListBoxNav .storeList .storeItem.slick-current .Img:before {
        height:10px;
    }

    .storeArea .storeListBoxNav .storeList .storeItem.slick-current+.slick-active .Img:before {
        height: 0;
        opacity: 0
    }
}

@media (max-width: 640px) {
    .storeArea .storeListBoxNav .storeList .storeItem {
        margin-bottom:0
    }
}

.storeArea .storeListBoxNav .storeList .item {
    display: -ms-flexbox;
    display: flex
}

.storeArea .storeListBoxNav .storeList .Img {
    width: 150px;
    margin-top: 5px;
    padding: 10px;
    position: relative
}

.storeArea .storeListBoxNav .storeList .Img:before {
    content: "";
    width: 1px;
    height: 0;
    background-color: #aeaeae;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%,100%);
    transform: translate(-50%,100%)
}

.storeArea .storeListBoxNav .storeList .Img a {
    border-radius: 10%;
    display: block;
    overflow: hidden;
    pointer-events: none
}

.storeArea .storeListBoxNav .storeList .Img img {
    width: 100%;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (max-width: 640px) {
    .storeArea .storeListBoxNav .storeList .Img {
        display:none
    }
}

.storeArea .storeListBoxNav .storeList .Txt {
    /* height: 195px; */
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding-left: 30px
}


.storeArea .storeListBoxNav .storeList .Txt .topBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.storeArea .storeListBoxNav .storeList .Txt .topBox .title {
    margin-right: 15px
}

.storeArea .storeListBoxNav .storeList .Txt .topBox .title a {
    color: #4e361f;
    display: block;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1px;
    pointer-events: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (min-width: 1201px) {
    .storeArea .storeListBoxNav .storeList .Txt .topBox .title a:hover {
        color:#fa822b
    }
}

.storeArea .storeListBoxNav .storeList .Txt .topBox .classTitle {
    border: 1px solid #4e361f;
    color: #4e361f;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    padding: 6px 15px;
}

.storeArea .storeListBoxNav .storeList .Txt .infoList {
    margin-top: 15px;
    padding: 0;
}

.infoList {
    padding: 0;
}

.infoList li {
    color: #4e361f;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    font-weight: bold;
}

.infoList li:not(:last-child) {
    margin-bottom: 10px;
}

.infoList li span.name {
    width: 50px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.infoList li span.name:before {
    content: "";
    width: 3px;
    height: 18px;
    background-color: rgba(162,162,162,0.4);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.infoList li span.text {
    width: calc(100% - 60px);
}

.storeArea .storeListBoxNav .storeList .Txt .timeList {
    -ms-flex-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    padding: 0;
}

.storeArea .storeListBoxNav .storeList .Txt .timeList li {
    color: #432a17;
    font-size: 21px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    line-height: 1;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 22px;
    list-style:none;
}

.storeArea .storeListBoxNav .storeList .Txt .timeList li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(./picture/clock.png) no-repeat center/contain;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.storeArea .storeListBoxNav .storeList .Txt .timeList li:not(:last-child) {
    margin-right: 30px;
}

.storeArea .storeListBoxNav .storeList .Txt .timeList li:not(:last-child):after {
    content: "~";
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 1;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.storeArea .storeListBoxNav .storeList .Txt .timeList li span {
    display: inline-block;
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    margin-left: 10px;
}

.storeArea .storeListBoxNav .storeList .Txt .btnBox {
    margin-top: 15px;
}

@media (max-width: 1200px) {
    .storeArea .storeListBoxNav .storeList .Txt {
        height:215px;
        padding-left: 20px;
    }
}

@media (max-width: 640px) {
    .storeArea .storeListBoxNav .storeList .Txt {
        width:100%;
        height: auto;
        -ms-flex: auto;
        flex: auto;
    }

    .storeArea .storeListBoxNav .storeList .Txt .topBox {
        -ms-flex-pack: center;
        justify-content: center
    }

    .storeArea .storeListBoxNav .storeList .Txt .timeList {
        -ms-flex-pack: center;
        justify-content: center
    }

    .storeArea .storeListBoxNav .storeList .Txt .btnBox {
        -ms-flex-pack: center;
        justify-content: center
    }
}

.facArea {
    position: relative;
    z-index: 2
}

.facArea:before {
    content: "";
    width: 100%;
    height: 1525px;
    background: url("../images/soul_area_bg.png") no-repeat center top/cover;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1
}



.slick-slider {
    -ms-touch-action: auto!important;
    touch-action: auto!important
}













@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

body {
    background-color: #fff;
    font-size: 14px;
    font-family: "Noto Sans Tc",Helvetica,Arial,"微軟正黑體",Heiti TC,"メイリオ",sans-serif
}

body.loadingOverflow,body.overflow,body.popwinOverflow {
    overflow: hidden
}

body .mainArea {
    position: relative
}

body .mainArea .scrollDown {
    width: 183px;
    height: 183px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: -120px;
    right: 270px;
    z-index: 2
}

body .mainArea .scrollDown:before {
    content: "";
    -webkit-animation: fishing 1.5s ease infinite;
    animation: fishing 1.5s ease infinite;
    width: 67px;
    height: 61px;
    background: url("../images/scroll_arrow.png") no-repeat center/contain;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2
}

body .mainArea .scrollDown:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/scroll.png") no-repeat center/contain;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

@media (max-width: 1680px) {
    body .mainArea .scrollDown {
        top:-160px
    }
}

@media (max-width: 1440px) {
    body .mainArea .scrollDown {
        width:140px;
        height: 140px;
        right: 200px;
        top: -200px
    }
}

@media (max-width: 1200px) {
    body .mainArea .scrollDown {
        display:none
    }
}

body.WebSiteHome .mainArea {
    z-index: 2
}

@media (max-width: 1200px) {
    body.WebSiteHome .mainArea {
        padding-bottom:120px
    }

    body.WebSiteHome footer {
        padding: 0 0 25px
    }
}

@media (max-width: 480px) {
    body.WebSiteHome .mainArea {
        padding-bottom:0
    }
}

body:not(.WebSiteHome) .mainArea {
    padding-bottom: 200px
}

body:not(.WebSiteHome) .mainArea:before {
    content: "";
    width: 100%;
    min-width: 1920px;
    height: 2770px;
    background: url("../images/store_area_bg.png") no-repeat center top/cover;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform-origin: center 375px;
    transform-origin: center 375px;
    -webkit-transform: translateY(-13.94%) scale(1.12);
    transform: translateY(-13.94%) scale(1.12)
}

body:not(.WebSiteHome) .mainArea>.wrap {
    position: relative;
    z-index: 2
}

body:not(.WebSiteHome) .mainArea .titleBox {
    position: relative;
    top: 30px
}

body:not(.WebSiteHome) .mainArea.ins {
    background: url("../images/store_area_mobile_bg.png") no-repeat center top/cover;
    padding-top: 150px
}

body:not(.WebSiteHome) .mainArea.ins:before {
    display: none
}

body:not(.WebSiteHome) .mainArea.ins .scrollDown {
    display: none
}

body:not(.WebSiteHome) footer {
    padding: 80px 0 25px
}

body:not(.WebSiteHome) footer:before {
    content: "";
    width: 100%;
    height: 770px;
    background: url("../images/footer_bg.png") no-repeat center top/cover;
    pointer-events: none;
    position: absolute;
    top: -150px;
    left: 0;
    z-index: 1
}

@media (max-width: 1200px) {
    body:not(.WebSiteHome) .bannerArea {
        display:none
    }

    body:not(.WebSiteHome) .mainArea {
        background: url("../images/store_area_mobile_bg.png") no-repeat center bottom/cover;
        padding-top: 150px
    }

    body:not(.WebSiteHome) .mainArea:before {
        display: none
    }

    body:not(.WebSiteHome) .mainArea>.wrap {
        max-width: 1200px
    }

    body:not(.WebSiteHome) .mainArea .titleBox {
        max-width: 480px;
        top: auto
    }

    body:not(.WebSiteHome) footer:before {
        height: 810px;
        top: -190px
    }
}

body.lost404Page .mainArea {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 170px
}

body.lost404Page .mainArea:before {
    height: 1800px;
    top: -460px
}

body.lost404Page .mainArea .top {
    color: #fa822b;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto
}

body.lost404Page .mainArea .top .menu404 {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px
}

body.lost404Page .mainArea .top .menu404>li {
    -ms-flex: 1;
    flex: 1
}

body.lost404Page .mainArea .top .menu404>li a {
    font-size: 22px;
    font-weight: 700;
    display: block;
    letter-spacing: 10px;
    padding: 0 10px
}

@media (max-width: 1200px) {
    body.lost404Page .mainArea .top .menu404 {
        -ms-flex-pack:start;
        justify-content: flex-start
    }

    body.lost404Page .mainArea .top .menu404>li {
        width: calc(100%/4);
        -ms-flex: initial;
        flex: initial;
        padding: 10px 0
    }
}

@media (max-width: 768px) {
    body.lost404Page .mainArea {
        min-height:350px
    }

    body.lost404Page .mainArea .top {
        font-size: 24px
    }
}

@media (max-width: 640px) {
    body.lost404Page .mainArea .top .menu404 {
        -ms-flex-pack:start;
        justify-content: flex-start
    }

    body.lost404Page .mainArea .top .menu404>li {
        width: calc(100%/2)
    }

    body.lost404Page .mainArea .top .menu404>li a {
        font-size: 20px
    }
}

address {
    font-style: normal
}

a {
    color: #282828;
    cursor: pointer;
    transition: all 0.4s ease
}

a:hover {
    color: #fa822b
}

div.titan {
    display: none
}

[class*=col-] {
    float: left
}

.col-1 {
    width: 100%
}

.col-2 {
    width: 50%
}

.col-3 {
    width: 33.33%
}

.col-4 {
    width: 25%
}

.col-5 {
    width: 20%
}

@media (max-width: 480px) {
    .col-1,.col-2,.col-3,.col-4,.col-5 {
        float:none;
        width: 100%
    }
}

.btn_color1 {
    color: #fff;
    background-color: #516190
}

.btn_color1:hover {
    background-color: #C85A56
}

.btn_color2 {
    color: #fff;
    background-color: #A0A0A0
}

.btn_color2:hover {
    background-color: #999
}

.btn1.center {
    text-align: center
}

.btn1.full a {
    width: 100%;
    margin: 0
}

.btn1 a {
    min-width: 190px;
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.01em;
    margin: 5px;
    padding: 13px 30px;
    position: relative;
    z-index: 1;
    text-align: center
}

.btn1 a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #fa822b;
    transition: all 0.4s ease-in-out
}

.btn1 a:hover {
    border-color: #fa822b
}

.btn1 a:hover:after {
    right: auto;
    left: 0;
    width: 100%
}

.btn1 a.white {
    background-color: #fff;
    border: 1px solid #68a9b1;
    color: #68a9b1
}

.btn1 a.white:after {
    background-color: #68a9b1
}

.btn1 a.white:hover {
    color: #fff
}

.btnBox {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex
}

.btnBox a {
    width: 115px;
    height: 38px;
    border-radius: 30px;
    color: #26180c;
    font-size: 15px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}

.btnBox a:not(:first-child) {
    margin-left: 10px
}

.btnBox a.orange {
    background-color: #f58e44
}

@media (min-width: 1201px) {
    .btnBox a.orange:hover {
        background-color:#37332b;
        color: #fff
    }
}

.btnBox a.silver {
    background-image: linear-gradient(to right,#acacac,#d6d6d6,#c9c9c9,#d6d6d6);
    background-size: 300px 300px;
}

@media (min-width: 1201px) {
    .btnBox a.silver:hover {
        background-position-x:100%
    }
}

button,input[type=password],input[type=text],textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    padding: 0;
    margin: 0
}

textarea {
    resize: vertical
}

.outerWrap {
    overflow: hidden;
    position: relative
}

@media (max-width: 1200px) {
    .outerWrap {
        padding-bottom:calc(50px + env(safe-area-inset-bottom))
    }
}

.wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px
}
