{% extends "layout.html" %}

{% block content %}


    <div class="desktop-carousel">

        <!--  Carousel -->
        <div id="Carousel" class="scroll-carousel carousel slide" data-bs-ride="carousel">

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="2"></button>
            </div>

            
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">

                <div class="carousel-item active">
                    
                    <img src="{{ url_for('static', filename='./picture/Carousel_1.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">
                    
                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>

                <div class="carousel-item">
                    
                    <img src="{{ url_for('static', filename='./picture/Carousel_2.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">
                    
                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="{{ url_for('static', filename='./picture/Carousel_3.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">

                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>
            </div>     
            
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>


    

    
    





    <div class="mobile-carousel">

        <div id="Carousel-Mobile" class="scroll-carousel carousel slide" data-bs-ride="carousel">

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#Carousel-Mobile" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#Carousel-Mobile" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#Carousel-Mobile" data-bs-slide-to="2"></button>
            </div>

            
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">

                <div class="carousel-item active">
                    
                    <img src="{{ url_for('static', filename='./picture/Carousel Mobile1.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">
                    
                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>

                <div class="carousel-item">
                    
                    <img src="{{ url_for('static', filename='./picture/Carousel Mobile2.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">
                    
                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="{{ url_for('static', filename='./picture/Carousel Mobile3.jpg') }}" class="d-block img-fluid" style="width:100%" alt="...">

                    <div class="carousel-caption">
                        <h5> LATEST NEWS </h5>
                    </div>
                </div>
            </div>     
            
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel-Mobile" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#Carousel-Mobile" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>





    <div class="newsArea"><!--newsArea-->

        <div class="wrap"><!--wrap-->

            <div class="newsBox">   

                <div class="titleBox"><!-- titleBox -->

                    <em class="titleEn">News</em>
                    <h2 class="titleTw">最丨新丨消丨息</h2>
                </div><!-- titleBox end -->

                <div class="newsList">
                    <div class="newsItem">
                        <div class="item clearfix"><!-- item -->
                            <div class="Img"><a href="#"  title="加入!'M 官方 Line 可享新品組合 88 折">
                                <img src="{{ url_for('static', filename='./picture/New1.jpg') }}" alt="加入!'M 官方 Line 可享新品組合 88 折">
                            </div>

                                <div class="Txt">
                                    <div class="dateBox">
                                        <div class="date">
                                            <span class="day">22</span>
                                            <div class="yearMonth">
                                                <span class="year">2023</span>
                                                <span class="month">Nov</span>
                                            </div>
                                        </div>
                                    <div class="classTitle">新店開幕</div>
                                </div>

                                <h3 class="title"><a href="#"  title="加入!'M 官方 Line 可享新品組合 88 折">加入!'M 官方 Line 可享新品組合 88 折</a></h3>	
                            </div>
                        </div><!-- item end -->
                    </div>


                    <div class="newsItem">
                        <div class="item clearfix"><!-- item -->
                            <div class="Img"><a href="#"  title="!'M 活力補給 買一送一">
                                <img src="{{ url_for('static', filename='./picture/New2.jpg') }}" alt="!'M 活力補給 買一送一">
                            </div>

                                <div class="Txt">
                                    <div class="dateBox">
                                        <div class="date">
                                            <span class="day">02</span>
                                            <div class="yearMonth">
                                                <span class="year">2024</span>
                                                <span class="month">Jan</span>
                                            </div>
                                        </div>
                                    <div class="classTitle">優惠活動</div>
                                </div>

                                <h3 class="title"><a href="#"  title="!'M 活力補給 買一送一">!'M 活力補給 買一送一</a></h3>	
                            </div>
                        </div><!-- item end -->
                    </div>

                    <div class="newsItem">
                        <div class="item clearfix"><!-- item -->
                            <div class="Img"><a href="#"  title="!'M 啡嘗速">
                                <img src="{{ url_for('static', filename='./picture/New3.jpg') }}" alt="!'M 啡嘗速">
                            </div>

                                <div class="Txt">
                                    <div class="dateBox">
                                        <div class="date">
                                            <span class="day">31</span>
                                            <div class="yearMonth">
                                                <span class="year">2023</span>
                                                <span class="month">Dec</span>
                                            </div>
                                        </div>
                                    <div class="classTitle">優惠活動</div>
                                </div>

                                <h3 class="title"><a href="#"  title="!'M 啡嘗速">!'M 啡嘗速 消費滿 150元 輸入折扣碼 IM30</a></h3>	
                            </div>
                        </div><!-- item end -->
                    </div>

                </div>
                                        
                <div class="masterArrowBox"><!--arrowBox-->
                    <div class="arrow arrowPrev"><span></span></div>
                    <div class="arrow arrowNext"><span></span></div>
                </div><!--arrowBox end-->

                <div class="dotsBox"></div>
            </div>
        </div><!--wrap end-->
    </div><!--newsArea end--> 








{% endblock content %}

