<!DOCTYPE HTML>

<html> 

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


        <!-- Link ./static/main.css -->
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='newsArea.css') }}">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='locations.css') }}">

        <!-- Font Awesome  -->
        <script src="https://kit.fontawesome.com/b7ca4cf871.js" crossorigin="anonymous"></script>

        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   
        

        {% if title %}
            <title> Flask Blog - {{ title }} </title>
        {% else %}
            <title> Flask Blog </title>
        {% endif %}

        <!-- <script type="text/javascript">

            window.addEventListener('scroll', function(){

                let logo = document.querySelector('.navbar-carousel');
        
                if (window.pageYOffset >= 10) {  
                    logo.classList.add('navbar-carousel-in');
                }

                else {
                    logo.classList.remove('navbar-carousel-in');
                }
            }, true);
        </script> -->

        <!-- <script type="text/javascript">

            window.addEventListener('scroll', function(){

                let logo2 = document.querySelector('.navbar-bg');
                let logo3 = document.querySelector('.navbar-carousel');

                if (window.pageYOffset >= 10) {  
                    logo2.classList.remove('navbar-bg-in');
                    logo2.classList.remove('title-default');
                }

                else {
                    logo2.classList.add('navbar-bg-in');
                }
            }, true);
        </script> -->

        <!-- <script type="text/javascript">

            window.addEventListener('scroll', function(){

                let Fixed = document.querySelector('.navbar-scroll');

                if (window.pageYOffset >= 10) {  
                    Fixed.classList.add('fixed-top');
                }

                else {
                    Fixed.classList.remove('fixed-top');
                }
            }, true);
        </script> -->

    </head>

    <body class="WebSiteHome">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


        <div class="popWin show">

            <img src="{{ url_for('static', filename='./picture/IMCOFFEE_BG.jfif') }}" class="scroll img-fluid" alt="...">


            <div class="hide"></div>

            <div class="inner">

                <!-- inner -->
                <a class="close"> </a>

                <div class="popContent textEditor">

                    <!-- POP Windows Carousel -->
                    <div id="popWin-Carousel" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#popWin-Carousel" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#popWin-Carousel" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#popWin-Carousel" data-bs-slide-to="2"></button>
                        </div>

                        
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                
                                <img src="{{ url_for('static', filename='./picture/Carousel_1.jpg') }}" class="d-block" style="width:100%" alt="...">
                                
                                <div class="carousel-caption">
                                    <h5> LATEST NEWS </h5>
                                </div>
                            </div>
                
                            <div class="carousel-item">
                                
                                <img src="{{ url_for('static', filename='./picture/Carousel_2.jpg') }}" class="d-block" style="width:100%" alt="...">
                                
                                <div class="carousel-caption">
                                    <h5> LATEST NEWS </h5>
                                </div>
                            </div>
                
                            <div class="carousel-item">

                                <img src="{{ url_for('static', filename='./picture/Carousel_3.jpg') }}" class="d-block" style="width:100%" alt="...">

                                <div class="carousel-caption">
                                    <h5> LATEST NEWS </h5>
                                </div>
                            </div>
                        </div>    
                        
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#popWin-Carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#popWin-Carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div> 
                <!-- popContent end -->
            </div>
            <!-- inner end  -->
        </div>
        <!-- popWin end -->



        <!-- Heading -->

        <header class="site-header site-container fixed-top">
            
            <nav class="navbar navbar-expand-md navbar-light">

                <div class="navbar-container container">

                    <!-- <a class="navbar-brand site-title mr-4 navbar-main navbar-bg title-default" href="#"> -->
                    <a class="navbar-brand site-title justify-content-start" href="{{ url_for('home') }}"   >
                        <img src="{{ url_for('static', filename='./picture/Logo.png') }}" alt="Logo" class="logo">
                    </a>
                   
                    <!-- <a class="navbar-main navbar-carousel">
                        <img src="{{ url_for('static', filename='./picture/phone-logo.png') }}" alt="Logo" class="logo">
                    </a> -->

                    <!-- <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button>
                     -->

                     <!-- hamburger menu -->
                    <a class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    
                    <div class="box-border"> </div>
                    
                    <div class="collapse navbar-collapse justify-content-end mobile-collapse" id="navbarSupportedContent">
                        
                        <!-- <div class="navbar-nav">  -->
            
                        <ul class='nav-item nav-link mobile-ul' dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> 
                            
                            <l1>
                                <a class="mobile-item nav-link" href="{{ url_for('register') }}"> 加入會員 </a> 
                            </l1>

                            <l1>
                                <a class="mobile-item nav-link" href="{{ url_for('login') }}">    會員登入 </a> 
                            </l1>
                            
                        </ul>
                        <!-- </div> -->
                    </div>
                </div>


















                <div class="navbar-nav nav-justified justify-content-end navbar-desktop" id="navbarNavDropdown">

                    
                    <a class="nav-item nav-link" href="{{ url_for('newsArea') }}">  最新消息 <br> News  </a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}"> 菜單專區 <br> Menu  </a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}"> 線上購物 <br> Store </a>
                    <a class="nav-item nav-link" href="{{ url_for('locations') }}"> 門市據點 <br> locations </a>
                    
                    <div class="dropdown collapse navbar-collapse" id="navbarNav">

                        <li role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <a class="nav-item nav-link"> 會員專區 <br> Member </a> 
                        </li>
                    
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <div class="navbar-nav">
                                {% if current_user.is_authenticated %}
                                    <li> <a class="dropdown-item nav-link" href="{{ url_for('account') }}">  Account  </a> </li>
                                    <li> <a class="dropdown-item nav-link" href="{{ url_for('logout') }}">   Logout   </a> </li>
                                {% else %}
                                    <li> <a class="dropdown-item nav-link" href="{{ url_for('login') }}">    Login    </a> </li>
                                    <li> <a class="dropdown-item nav-link" href="{{ url_for('register') }}"> Register </a> </li>
                                {% endif %}
                            </div>
                        </ul>
                    </div>
                </div>


    
        


                <!-- navbar-mobile --> 
                <div class="nav-scroller shadow-sm navbar-mobile navbar-collapse-center">
                    <nav class="nav nav-underline nav-center" aria-label="Secondary navigation">
                        <a class="nav-item nav-link" href="{{ url_for('newsArea') }}">  最新消息 </a>
                        <a class="nav-item nav-link" href="{{ url_for('home') }}"> 菜單專區 </a>
                        <a class="nav-item nav-link" href="{{ url_for('home') }}"> 線上購物 </a>
                        <a class="nav-item nav-link" href="{{ url_for('locations') }}"> 門市據點 </a>
                    </nav>
                </div>

                
            </nav>
        </header>



        <!-- Main -->

        <main role="main" class="site-container">
           
            <div class="row">

                <div class="col-md-8">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        
                        {% if messages %}
                            {% for category, message in messages %}

                                <div class="alert alert-{{ category}}">
                                    {{ message }}
                                </div> 
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                
                <div class="col col-12">

                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>


     

        


        <footer class="site-container fixed-bottom">

            <!-- Copyright -->
            <div class="site-footer">

                <div class="footer-left">

                   
                    <div class="container ">

                        <div class="row align-items-center">

                            <div class="col-2">
                                <img src="{{ url_for('static', filename='./picture/Footer_img.png') }}" class="footer-img" alt="...">
                            </div>
                    
                            <div class="col-4">

                                <p class="footer-links"> 
                                    <a class="phone"> 06-2088-302 </a>
                                </p>
                                <a href="#">  imcoffee.ezk@gmail.com  </a>
                            </div>

                            
                            <div class="col-6">
                                <div class="footer-right">
                                    <a class="copyright"> 非商業用途，僅用於個人作品集使用. </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
       

            <!-- Socials -->
            <div class="footer-socials">

                Follow us：
                
                <a href="https://www.facebook.com/IMCOFFEETW/?ref=embed_page" target="_blank" class="socials-link" aria-label="Facebook Page">
                    <i class="bi bi-facebook"></i>
                </a>
                            
                
                <a href="https://www.instagram.com/imcoffee__/?igshid=1hmqgldz82wpa" target="_blank" class="socials-link" aria-label="Instagram Page">
                    <i class="bi bi-instagram"></i>
                </a>
                
        
                <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=imcoffee" target="_blank" class="socials-link" aria-label="Weibo Page">
                    <i class="bi bi-line"></i>
                </a>

                <a href="https://github.com/LazyDelon?tab=repositories" target="_blank" class="socials-link" aria-label="Weibo Page">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        
        
        <script>


            (function() {

                if (navigator.cookieEnabled) {

                    var data = sessionStorage.getItem('popWin');

                    if (data != 'ok' && $('body').hasClass('WebSiteHome')) {

                        $('.popWin').addClass('show');
                        $('body').addClass('popwinOverflow');
                        sessionStorage.setItem('popWin', 'ok');
                    }

                    else {
                        $('.popWin').remove();
                        $('.scroll').remove();
                    }
                }   

                else {

                    if($('body').hasClass('WebSiteHome')) {
                        $('.popWin').addClass('show');
                        $('.scroll').addClass('show');
                        $('body').addClass('popwinOverflow');
                    }
                }

                $('.popWin .hide, .popWin .close').click( function() {
                    $('.popWin').removeClass('show');
                    $('.scroll').removeClass('show');
                    $('body').removeClass('popwinOverflow');
                });

            })();   
        </script>










        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script> 

    
        <!--slick-->
        <script>

            $(function() {

                $('.newsList').slick({
                    autoplay: true,
                    autoplaySpeed: 3000,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    cssEase: 'ease-in-out',
                    dots: true,
                    dotsClass: 'dots',
                    appendDots: $('.newsArea .dotsBox'),
                    arrows: true,
                    prevArrow: $('.newsArea .arrowPrev'),
                    nextArrow: $('.newsArea .arrowNext'),
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 1,
                            }
                        },
                        {
                            breakpoint: 801,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '120px',
                            }
                        },
                        {
                            breakpoint: 701,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '70px',
                            }
                        },
                        {
                            breakpoint: 681,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '40px',
                            }
                        },
                        {
                            breakpoint: 541,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '0',
                            }
                        },
                        {
                            breakpoint: 481,
                            settings: {
                                slidesToShow: 1,
                            }
                        },
                    ]
                });

            });
        </script>


        <!--slick-->
        <script>
            // move the first slick-item to the bottom
            function slickListAdjust (list, item, num){
                function sort(list) {
                    var listDom = $(list).find(item);
                    var listLen = listDom.length;
                    listDom.eq(listLen-1).after(listDom.eq(0));
                }

                for(var i=0; i<num; i++) {
                    sort(list);
                }
            }

            $(function() {

                $('#banner').slick({
                    arrows: true,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    cssEase: 'ease-in-out',
                    dots: true,
                    fade: true,
                    infinite: true,
                    prevArrow: $('.bannerBox .arrowPrev'),
                    nextArrow: $('.bannerBox .arrowNext'),
                    speed: 1000,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });

                $('.storeListBoxMain .storeList').slick({
                    arrows: false,
                    autoplay: false,
                    autoplaySpeed: 3000,
                    asNavFor: '.storeListBoxNav .storeList',
                    cssEase: 'ease-in-out',
                    fade: true,
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
                
                $('.storeListBoxNav .storeList').slick({
                    arrows: false,
                    asNavFor: '.storeListBoxMain .storeList',
                    cssEase: 'ease-in-out',
                    focusOnSelect: true,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    vertical: true,
                    verticalSwiping: true,
                    responsive: [
                        {
                            breakpoint: 1201,
                            settings: {
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 641,
                            settings: {
                                dots: true,
                                slidesToShow: 1,
                                vertical: false,
                                verticalSwiping: false
                            }
                        }
                    ]
                });

                if($('.facListImg .facItem').length > 1) {
                    $('.facListImg').slick({
                        arrows: false,
                        autoplay: true,
                        autoplaySpeed: 3000,
                        asNavFor: '.facListTxt',
                        cssEase: 'ease-in-out',
                        centerMode: true,
                        centerPadding: '480px',
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        responsive: [
                            {
                                breakpoint: 1441,
                                settings: {
                                    centerPadding: '400px',
                                }
                            },
                            {
                                breakpoint: 1201,
                                settings: {
                                    centerPadding: '300px',
                                }
                            },
                            {
                                breakpoint: 1025,
                                settings: {
                                    centerPadding: '200px',
                                }
                            },
                            {
                                breakpoint: 769,
                                settings: {
                                    centerPadding: '150px',
                                }
                            },
                            {
                                breakpoint: 641,
                                settings: {
                                    centerPadding: '120px',
                                }
                            },
                            {
                                breakpoint: 561,
                                settings: {
                                    centerPadding: '100px',
                                }
                            },
                            {
                                breakpoint: 481,
                                settings: {
                                    centerPadding: '80px',
                                }
                            },
                            {
                                breakpoint: 401,
                                settings: {
                                    centerPadding: '80px',
                                }
                            }
                        ]
                    });

                    // $('.facListImg').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                    //     $('.facListImg .slick-slide').removeClass('current');
                    // }).on('afterChange', function(event, slick, currentSlide) {
                    //     $('.facListImg .slick-current').addClass('current');
                    // });
                    // $('.facListImg .slick-current').addClass('current');

                    $('.facListImg').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                        $('.facListImg .slick-slide').removeClass('current prev next');
                    }).on('afterChange', function(event, slick, currentSlide) {
                        $('.facListImg .slick-current').addClass('current');
                        $('.facListImg .slick-current').prev().addClass('prev');
                        $('.facListImg .slick-current').next().addClass('next');
                    });
                    $('.facListImg .slick-current').addClass('current');
                    $('.facListImg .slick-current').prev().addClass('prev');
                    $('.facListImg .slick-current').next().addClass('next');

                    $('.facListTxt').slick({
                        arrows: false,
                        asNavFor: '.facListImg',
                        cssEase: 'ease-in-out',
                        fade: true,
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }

                $(window).on('resize', function() {
                    $('.facListTxt').slick('resize');
                }).resize();
                
                $('.menuListBoxMain .menuList').slick({
                    arrows: true,
                    autoplay: true,
                    autoplaySpeed: 3000,
                    asNavFor: '.menuListBoxNav .menuList',
                    cssEase: 'ease-in-out',
                    fade: true,
                    infinite: true,
                    prevArrow: '.menuListBoxMain .arrowBox .arrow.prev',
                    nextArrow: '.menuListBoxMain .arrowBox .arrow.next',
                    slidesToShow: 1,
                    slidesToScroll: 1
                });
                
                $('.menuListBoxNav .menuList').slick({
                    arrows: true,
                    asNavFor: '.menuListBoxMain .menuList',
                    cssEase: 'ease-in-out',
                    centerMode: true,
                    centerPadding: '30px',
                    focusOnSelect: true,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    vertical: true,
                    verticalSwiping: true
                });
                
                if($('.menuListBoxNav .menuList .menuItem').length > 3) {
                    $('.menuListBoxNav .menuList').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
                        $('.menuListBoxNav .slick-arrow').addClass('hide');
                        $('.menuListBoxNav .slick-slide').removeClass('prev next');
                    }).on('afterChange', function(event, slick, currentSlide) {
                        $('.menuListBoxNav .slick-arrow').removeClass('hide');
                        $('.menuListBoxNav .slick-current').prev().addClass('prev').prev().addClass('prev');
                        $('.menuListBoxNav .slick-current').next().addClass('next').next().addClass('next');
                    });
                    $('.menuListBoxNav .slick-current').prev().addClass('prev').prev().addClass('prev');
                    $('.menuListBoxNav .slick-current').next().addClass('next').next().addClass('next');
                }

                if($('.newsListTop .newsItem').length > 1) {
                    $('.newsListTop').slick({
                        arrows: false,
                        asNavFor: '.newsListBottom',
                        cssEase: 'ease-in-out',
                        fade: true,
                        infinite: true,
                    });
                    slickListAdjust('.newsListBottom', '.newsItem', 1);
                }
                
                $('.newsListBottom').slick({
                    arrows: true,
                    autoplay: false,
                    asNavFor: '.newsListTop',
                    cssEase: 'ease-in-out',
                    fade: true,
                    infinite: true,
                    prevArrow: '.newsBox .arrowBox .arrow.prev',
                    nextArrow: '.newsBox .arrowBox .arrow.next'
                });
                
                $('.newsBox .arrowBox .arrow').hover(function(e) {
                    $(this).addClass('show').siblings().removeClass('show');
                });

                if($('.ellipsis').length) {
                    $('.ellipsis').dotdotdot({
                        wrap: 'letter',
                        remove: [ ' ', ',', ';', '.', '!', '?' ],
                        watch: true
                    });
                }
                

                window.visualViewport.addEventListener("resize", function(e) {
                    if (e.target.scale > 1) { 
                        $('.slick-slider').slick('slickSetOption', 'swipe', false, false);
                    } else {
                        $('.slick-slider').slick('slickSetOption', 'swipe', true, false);
                    }
                });
            });
        </script>
    </body>
</html>