
<!DOCTYPE html>

    <head>

        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='newsArea.css') }}">
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </head>


    <body>

        <div class="newsArea"><!--newsArea-->

            <div class="wrap"><!--wrap-->

                <div class="newsBox">   

                    <div class="titleBox"><!-- titleBox -->

                        <em class="titleEn">News</em>
                        <h2 class="titleTw">最丨新丨消丨息</h2>
                    </div><!-- titleBox end -->

                    <div class="newsList">
                        <div class="newsItem">
                            <div class="item clearfix"><!-- item -->
                                <div class="Img"><a href="https://www.kungfutea.com.tw/news-detail/82__98/"  title="KUNG FU TEA功夫茶．樹林保安店盛大開幕！"><img src="https://www.kungfutea.com.tw/upload/news_list_pic/twL_news_24A11_cRHfteA0Mu.jpg" alt="KUNG FU TEA功夫茶．樹林保安店盛大開幕！"></a></div>
                                    <div class="Txt">
                                        <div class="dateBox">
                                            <div class="date">
                                                <span class="day">22</span>
                                                <div class="yearMonth">
                                                    <span class="year">2023</span>
                                                    <span class="month">Nov</span>
                                                </div>
                                            </div>
                                        <div class="classTitle">新店開幕</div>
                                    </div>

                                    <h3 class="title"><a href="https://www.kungfutea.com.tw/news-detail/82__98/"  title="KUNG FU TEA功夫茶．樹林保安店盛大開幕！">KUNG FU TEA功夫茶．樹林保安店盛大開幕！</a></h3>	
                                </div>
                            </div><!-- item end -->
                        </div>


                        <div class="newsItem">
                            <div class="item clearfix"><!-- item -->
                                <div class="Img"><a href="https://www.kungfutea.com.tw/news-detail/82__95/"  title="週週優惠來啦！第二杯𝟳折再送虛寶卡🎰！"><img src="https://www.kungfutea.com.tw/upload/news_list_pic/twL_news_23L29_Uh276KAzZQ.jpg" alt="週週優惠來啦！第二杯𝟳折再送虛寶卡🎰！"></a></div>
                                    <div class="Txt">
                                        <div class="dateBox">
                                            <div class="date">
                                                <span class="day">02</span>
                                                <div class="yearMonth">
                                                    <span class="year">2024</span>
                                                    <span class="month">Jan</span>
                                                </div>
                                            </div>
                                        <div class="classTitle">優惠活動</div>
                                    </div>

                                    <h3 class="title"><a href="https://www.kungfutea.com.tw/news-detail/82__95/"  title="週週優惠來啦！第二杯𝟳折再送虛寶卡🎰！">週週優惠來啦！第二杯𝟳折再送虛寶卡🎰！</a></h3>	
                                </div>
                            </div><!-- item end -->
                        </div>

                        <div class="newsItem">
                            <div class="item clearfix"><!-- item -->
                                <div class="Img"><a href="https://www.kungfutea.com.tw/news-detail/82__93/"  title="＼舉杯迎𝟮𝟬𝟮𝟰🍻／跨年夜準備嗨起來！"><img src="https://www.kungfutea.com.tw/upload/news_list_pic/twL_news_23L26_hqfCwAnOFP.jpg" alt="＼舉杯迎𝟮𝟬𝟮𝟰🍻／跨年夜準備嗨起來！"></a></div>
                                    <div class="Txt">
                                        <div class="dateBox">
                                            <div class="date">
                                                <span class="day">31</span>
                                                <div class="yearMonth">
                                                    <span class="year">2023</span>
                                                    <span class="month">Dec</span>
                                                </div>
                                            </div>
                                        <div class="classTitle">優惠活動</div>
                                    </div>

                                    <h3 class="title"><a href="https://www.kungfutea.com.tw/news-detail/82__93/"  title="＼舉杯迎𝟮𝟬𝟮𝟰🍻／跨年夜準備嗨起來！">＼舉杯迎𝟮𝟬𝟮𝟰🍻／跨年夜準備嗨起來！</a></h3>	
                                </div>
                            </div><!-- item end -->
                        </div>



                        <div class="newsItem">
                            <div class="item clearfix"><!-- item -->
                                <div class="Img"><a href="https://www.kungfutea.com.tw/news-detail/82__92/"  title="兔星保衛戰 ✘ 週週優惠 指定飲品享特價！"><img src="https://www.kungfutea.com.tw/upload/news_list_pic/twL_news_23L26_d52i1vkEe1.jpg" alt="兔星保衛戰 ✘ 週週優惠 指定飲品享特價！"></a></div>
                                    <div class="Txt">
                                        <div class="dateBox">
                                            <div class="date">
                                                <span class="day">29</span>
                                                <div class="yearMonth">
                                                    <span class="year">2023</span>
                                                    <span class="month">Dec</span>
                                                </div>
                                            </div>
                                        <div class="classTitle">優惠活動</div>
                                    </div>

                                    <h3 class="title"><a href="https://www.kungfutea.com.tw/news-detail/82__92/"  title="兔星保衛戰 ✘ 週週優惠 指定飲品享特價！">兔星保衛戰 ✘ 週週優惠 指定飲品享特價！</a></h3>	
                                </div>
                            </div><!-- item end -->
                        </div>
                    </div>
                                            
                    <div class="masterArrowBox"><!--arrowBox-->
                        <div class="arrow arrowPrev"><span></span></div>
                        <div class="arrow arrowNext"><span></span></div>
                    </div><!--arrowBox end-->

                    <div class="dotsBox"></div>
                </div>
            </div><!--wrap end-->
        </div><!--newsArea end--> 

        <!--slick-->
        <!-- <link rel="stylesheet" href="https://www.kungfutea.com.tw/public/js/slick-slider/slick-theme.css">
        <link rel="stylesheet" href="https://www.kungfutea.com.tw/public/js/slick-slider/slick.css"> -->
        <!-- <script src="https://www.kungfutea.com.tw/public/js/slick-slider/slick.min.js"></script> -->
            
        <!-- <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='slick-theme.css') }}">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='slick.css') }}"> -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script> 
        
        <!--slick-->
        <script>

            $(function() {

                $('.newsList').slick({
                    autoplay: true,
                    autoplaySpeed: 3000,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    cssEase: 'ease-in-out',
                    dots: true,
                    dotsClass: 'dots',
                    appendDots: $('.newsArea .dotsBox'),
                    arrows: true,
                    prevArrow: $('.newsArea .arrowPrev'),
                    nextArrow: $('.newsArea .arrowNext'),
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 1,
                            }
                        },
                        {
                            breakpoint: 801,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '120px',
                            }
                        },
                        {
                            breakpoint: 701,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '70px',
                            }
                        },
                        {
                            breakpoint: 681,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '40px',
                            }
                        },
                        {
                            breakpoint: 541,
                            settings: {
                                slidesToShow: 1,
                                centerMode: true,
                                centerPadding: '0',
                            }
                        },
                        {
                            breakpoint: 481,
                            settings: {
                                slidesToShow: 1,
                            }
                        },
                    ]
                });
        
            });
        </script>
    
    </body>
</html>